body{
    background-color:#000000 ;
    margin: 0px ;
    font-family: Futura, sans-serif;
}

header {
    height: 150px ;
    margin-bottom: 30px ;
    /*
    margin-left: 50px ;
    margin-right: 50px ;
    */

}

div.logo {
    float:left ;
    margin: 30px 30px 30px ;
    /*    position:fixed;*/
}

nav {
    /*    font-family: futura;*/
    color: #ffffff ;
    float: right ;
    font-size: 20px ;
    /*    margin: 40px 40px 40px ;*/
    margin: 40px 30px 30px 30px ;
    /*    margin-top: 20px ;*/
}

nav a {
    color: #ffffff ;
    text-decoration: none ;
    margin: 30px ;
    font-size:20px ;
    /*    text-emphasis: none ; */
}


nav a:hover {
    text-decoration:underline;
    color: #ffffff ;
    font-weight:200;
}

nav a.current_page_indicator {
    color: red ;
}

section.body {
    color:#ffffff ;
    /*    float:right ;*/
    /*    margin:10px 20px 0px 0px ;*/
    margin-left: 30px ;
    margin-right: 30px ;
    margin-bottom: 50px ;
    clear: both ;
    /*    border: 2px solid red ;*/
}

h1 {
    color:#ffffff;
    /*    float:left ;*/
    /*    margin-top: 10px ;*/
    /*    margin-right: 80px ;*/
    font-size: 30px ;
    text-transform: uppercase ;
}
.h1 hover{
    color: #f25dd7 ;
    opacity: inherit ;
}

.h1 {
    float:left;
    /*    margin:8px 8px 8px;*/
    margin-bottom: 50px ;
    margin-right: 30px ;
}

.h2 {
    float:right ;
    position:absolute
}

.header-label{
    color:#ffffff
}

.arrow {
  width: 0; 
	height: 0; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
  
  position: absolute;
}

.arrow-right {
	border-left: 30px solid #ffffff;
  right: 0;
}

.arrow-left {
	border-right: 30px solid #ffffff; 
  left: 0;
}

.container {
  margin: 15% auto;
  font-size: 24px;
  position: relative;
  width: 40em;
}

.header {
  text-align: center;
}

footer {
    clear: left ;
    color:white; 
    /*    fit-position:bottom;*/
    /*    position:fixed ;*/
/*        bottom:10px;*/
    margin-left: 30px ;
    margin-top: 30px ;
    margin-bottom: 30px ;
}




